#a:hover {
  background-color: violet;
}

/* .menu{
  width: 200px;
  height:40px; */

}

/* Navbar container */
.navbar {
  /* margin:0 auto; */
  /* position:relative;
  left: 200px; */
  /* transform: translate(-50%, -50%); */
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {

  float: left;
  /* position:relative;
  left: 400px; */
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  /* position:relative;
  left: 200px; */
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  /* position:relative;
  left: 200px; */
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: violet;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  /* position:relative;
  left: 200px; */
  display: none;
  position: relative;
  background-color: violet;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 14px;
}

/* Links inside the dropdown */
.dropdown-content a {

  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.white-block{
          position:relative;
          top:51px;
          width:infinite;
          height:200px;
          background-color:white;
}

.circle-head{
  position:relative;
  top:70px;
  left:-350px;
  border:2px solid purple;
  border-radius:40px;
  width:80px;
  height:80px;
  justify-content: center;
 align-items: center;

 /* text-align: center; */
 display: flex;
  color:purple;


}

.circle-head1{
  position:relative;
  top:-40px;
  left:300px;
  border:2px solid purple;
  border-radius:40px;
  width:80px;
  height:80px;
  justify-content: center;
 align-items: center;

 /* text-align: center; */
 display: flex;
  color:purple;
  font-size:15px;

}

/* .textarea{
 position:relative;
 left:100px;
 width:400px;
 height:300px;
 border:0px hidden;

} */

#intro-div {
  background-color: lightyellow;
  height: 500px;


}

.intro-div {
  width: 500px;
  height: 300px;
  position: relative;
  top: -300px;
  left: 800px;
}

#LM-btn {
  width: 100px;
  height: 40px;
  background-color: purple;
  color: white;

}

#fw-img {
  height: 450px;
  position: relative;
  top: 50px;
}

#JE-img {
  width: 300px;
  position: absolute;
  top: 35px;
  left: 300px;

}

.list {
  color: black;
  position: absolute;
  left: 500px;
  height: 400px;
}
